[
 {toy_kv,
  [
   %% Default number of replicas
   {replicas, 3},

   %% Buckets
   {buckets,
    [
     {db1,
      [
       {copies, ram_copies}
      ]
     },
     {db2,
      [
       {copies, ram_copies},
       {auto_node_list, false},
       {auto_eject_nodes, true}
      ]
     }
    ]
   }
  ]
 }
].
